In [41]:
import os
from tqdm import tqdm
import pandas as pd
from tqdm import tqdm

---

### 讀取資料夾的方法

In [2]:
#10個資料夾間需要比對的次數
9+8+7+6+5+4+3+2+1

45

率性休閒 E1_1
簡約質感 E1_2
清新甜美 E1_3
都會輕熟 E1_4
溫柔浪漫 E1_5
慵懶度假 E1_6
大氣優雅 E1_7
性感迷人 E1_8
態度個性 E1_9
其他 E1_10

In [29]:
style_dir = os.listdir("素材風格(主圖)")
style_dir.remove(".DS_Store")
style_dir

['其他 E1_10',
 '率性休閒 E1_1',
 '性感迷人 E1_8',
 '態度個性 E1_9',
 '清新甜美 E1_3',
 '都會輕熟 E1_4',
 '慵懶度假 E1_6',
 '簡約質感 E1_2',
 '溫柔浪漫 E1_5',
 '大氣優雅 E1_7']

In [56]:
style_dir = os.listdir("素材風格(主圖)")
style_dir.remove(".DS_Store")
mutual_df = pd.DataFrame(columns=['style_dirs','mutual_pics'])

for i in style_dir:
    first = os.listdir("素材風格(主圖)/"+i)
    no = style_dir.index(i) + 1
    second_list = style_dir[no:]
    for j in second_list:
        second = os.listdir("素材風格(主圖)/"+j)
        mutual = [x for x in first for y in second if x == y]
        dirs = str(i)+" 與 "+str(j)
        new_row = {'style_dirs': dirs, 'mutual_pics': len(mutual)}
        mutual_df.loc[len(mutual_df)] =  new_row

In [57]:
mutual_df

               style_dirs mutual_pics
0    其他 E1_10 與 率性休閒 E1_1          93
1    其他 E1_10 與 性感迷人 E1_8          12
2    其他 E1_10 與 態度個性 E1_9          57
3    其他 E1_10 與 清新甜美 E1_3           8
4    其他 E1_10 與 都會輕熟 E1_4           8
5    其他 E1_10 與 慵懶度假 E1_6           2
6    其他 E1_10 與 簡約質感 E1_2          25
7    其他 E1_10 與 溫柔浪漫 E1_5           1
8    其他 E1_10 與 大氣優雅 E1_7           6
9   率性休閒 E1_1 與 性感迷人 E1_8         105
10  率性休閒 E1_1 與 態度個性 E1_9         970
11  率性休閒 E1_1 與 清新甜美 E1_3         489
12  率性休閒 E1_1 與 都會輕熟 E1_4          96
13  率性休閒 E1_1 與 慵懶度假 E1_6          94
14  率性休閒 E1_1 與 簡約質感 E1_2         572
15  率性休閒 E1_1 與 溫柔浪漫 E1_5          29
16  率性休閒 E1_1 與 大氣優雅 E1_7          46
17  性感迷人 E1_8 與 態度個性 E1_9          65
18  性感迷人 E1_8 與 清新甜美 E1_3          16
19  性感迷人 E1_8 與 都會輕熟 E1_4          14
20  性感迷人 E1_8 與 慵懶度假 E1_6          34
21  性感迷人 E1_8 與 簡約質感 E1_2          79
22  性感迷人 E1_8 與 溫柔浪漫 E1_5          18
23  性感迷人 E1_8 與 大氣優雅 E1_7          30
24  態度個性 E1_9 與 清新甜美 E1_3          42
25  態度個性 E1_9 與 都會輕熟 E1_4          33
26  態度個性 E1_9 與 慵懶度假 E1_6          38
27  態度個性 E1_9 與 簡約質感 E1_2         151
28  態度個性 E1_9 與 溫柔浪漫 E1_5           1
29  態度個性 E1_9 與 大氣優雅 E1_7          14
30  清新甜美 E1_3 與 都會輕熟 E1_4           6
31  清新甜美 E1_3 與 慵懶度假 E1_6         100
32  清新甜美 E1_3 與 簡約質感 E1_2         145
33  清新甜美 E1_3 與 溫柔浪漫 E1_5         831
34  清新甜美 E1_3 與 大氣優雅 E1_7          40
35  都會輕熟 E1_4 與 慵懶度假 E1_6           8
36  都會輕熟 E1_4 與 簡約質感 E1_2         243
37  都會輕熟 E1_4 與 溫柔浪漫 E1_5          39
38  都會輕熟 E1_4 與 大氣優雅 E1_7         144
39  慵懶度假 E1_6 與 簡約質感 E1_2         131
40  慵懶度假 E1_6 與 溫柔浪漫 E1_5          42
41  慵懶度假 E1_6 與 大氣優雅 E1_7          36
42  簡約質感 E1_2 與 溫柔浪漫 E1_5         145
43  簡約質感 E1_2 與 大氣優雅 E1_7         557
44  溫柔浪漫 E1_5 與 大氣優雅 E1_7         210

In [70]:
mutual_df = mutual_df.sort_values(['mutual_pics'],ascending=False)
mutual_df.head(10)

               style_dirs mutual_pics
10  率性休閒 E1_1 與 態度個性 E1_9         970
33  清新甜美 E1_3 與 溫柔浪漫 E1_5         831
14  率性休閒 E1_1 與 簡約質感 E1_2         572
43  簡約質感 E1_2 與 大氣優雅 E1_7         557
11  率性休閒 E1_1 與 清新甜美 E1_3         489
36  都會輕熟 E1_4 與 簡約質感 E1_2         243
44  溫柔浪漫 E1_5 與 大氣優雅 E1_7         210
27  態度個性 E1_9 與 簡約質感 E1_2         151
32  清新甜美 E1_3 與 簡約質感 E1_2         145
42  簡約質感 E1_2 與 溫柔浪漫 E1_5         145

---

### 讀取csv的方法

In [4]:
s_df = pd.read_excel("P1圖對應素材風格(主圖).xlsx")
s_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9746 entries, 0 to 9745
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   主要系列編號     9746 non-null   object
 1   GroupName  9746 non-null   object
 2   TagCode    9746 non-null   object
 3   TagName    9746 non-null   object
 4   TypeName   9746 non-null   object
 5   P1圖圖片連結    9746 non-null   object
dtypes: object(6)
memory usage: 457.0+ KB

In [35]:
s1 = s_df[s_df['TagCode']=="E1_1"]
s1_df = pd.DataFrame(s1.主要系列編號)
s1_df = s1_df.rename({'主要系列編號':'E1_1'},axis=1)

s2 = s_df[s_df['TagCode']=="E1_2"]
s2_df = pd.DataFrame(s2.主要系列編號)
s2_df = s2_df.rename({'主要系列編號':'E1_2'},axis=1)

s3 = s_df[s_df['TagCode']=="E1_3"]
s3_df = pd.DataFrame(s3.主要系列編號)
s3_df = s3_df.rename({'主要系列編號':'E1_3'},axis=1)

s4 = s_df[s_df['TagCode']=="E1_4"]
s4_df = pd.DataFrame(s4.主要系列編號)
s4_df = s4_df.rename({'主要系列編號':'E1_4'},axis=1)

s5 = s_df[s_df['TagCode']=="E1_5"]
s5_df = pd.DataFrame(s5.主要系列編號)
s5_df = s5_df.rename({'主要系列編號':'E1_5'},axis=1)

s6 = s_df[s_df['TagCode']=="E1_6"]
s6_df = pd.DataFrame(s6.主要系列編號)
s6_df = s6_df.rename({'主要系列編號':'E1_6'},axis=1)

s7 = s_df[s_df['TagCode']=="E1_7"]
s7_df = pd.DataFrame(s7.主要系列編號)
s7_df = s7_df.rename({'主要系列編號':'E1_7'},axis=1)

s8 = s_df[s_df['TagCode']=="E1_8"]
s8_df = pd.DataFrame(s8.主要系列編號)
s8_df = s8_df.rename({'主要系列編號':'E1_8'},axis=1)

s9 = s_df[s_df['TagCode']=="E1_9"]
s9_df = pd.DataFrame(s9.主要系列編號)
s9_df = s9_df.rename({'主要系列編號':'E1_9'},axis=1)

s10 = s_df[s_df['TagCode']=="E1_10"]
s10_df = pd.DataFrame(s10.主要系列編號)
s10_df = s10_df.rename({'主要系列編號':'E1_10'},axis=1)

df = pd.concat([s1_df,s2_df,s3_df,s4_df,s5_df,s6_df,s7_df,s8_df,s9_df,s10_df], axis=1)

In [4]:
columns = ['E1_1','E1_2','E1_3','E1_4','E1_5','E1_6','E1_7','E1_8','E1_9','E1_10']
index = ['E1_1','E1_2','E1_3','E1_4','E1_5','E1_6','E1_7','E1_8','E1_9','E1_10']
m_df = pd.DataFrame(columns=columns,index=index)
m_df

      E1_1 E1_2 E1_3 E1_4 E1_5 E1_6 E1_7 E1_8 E1_9 E1_10
E1_1   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
E1_2   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
E1_3   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
E1_4   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
E1_5   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
E1_6   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
E1_7   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
E1_8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
E1_9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
E1_10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN

In [44]:
s_df = pd.read_excel("P1圖對應素材風格(主圖).xlsx")
c_list = m_df.columns.to_list()
i_list = m_df.index.to_list()
for column in tqdm(c_list):
    first = s_df[s_df['TagCode']== column].主要系列編號
    c = c_list.index(column)
    for index in i_list:
        second = s_df[s_df['TagCode']== index].主要系列編號
        mutual = [x for x in first for y in second if x == y]
        i = i_list.index(index)
        m_df.iloc[i,c] = len(mutual)

100%|██████████| 10/10 [00:11<00:00,  1.11s/it]

In [45]:
m_df

       E1_1  E1_2  E1_3 E1_4  E1_5 E1_6 E1_7 E1_8  E1_9 E1_10
E1_1   2304   588   494   98    30  102   52  106   974    94
E1_2    588  1710   148  257   150  140  576   82   156    26
E1_3    494   148  1687    7   831  106   41   16    42     9
E1_4     98   257     7  365    39    8  155   16    33     9
E1_5     30   150   831   39  1175   44  211   18     1     1
E1_6    102   140   106    8    44  367   37   34    40     2
E1_7     52   576    41  155   211   37  831   32    15     9
E1_8    106    82    16   16    18   34   32  246    65    13
E1_9    974   156    42   33     1   40   15   65  1026    57
E1_10    94    26     9    9     1    2    9   13    57   123

In [48]:
m_df.style.highlight_max(color='red',axis=0)